@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
    --header-height: 3rem;
    --hue-color: 230;
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-dark: hsl(var(--hue-color), 28%, 12%);
    --first-color-darker: hsl(var(--hue-color), 30%, 8%);
    --color-white: #fff;
    --color-red: hsl(0, 69%, 61%);
    --color-grey: hsl(var(--hue-color), 8%, 45%);
    --color-grey-lighter: hsl(var(--hue-color), 8%, 65%);
    --title-color: var(--first-color-darker);
    --text-color: var(--color-grey);
    --text-color-light: var(--color-grey-lighter);
    --body-color: var(--color-white-darker);
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

body.dark-theme {
    --title-color: var(--color-white);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --body-color: var(--first-color-dark);
    --first-color-darker-alpha: 255, 255, 255;
}

.nav__icons {
    font-size: 1.25rem;
    color: #fff;
    margin-right: var(--mb-1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.nav__icons:hover {
    color: var(--first-color);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1 {
    color: #fff
}

h2,
h3,
h4 {
    color: #000;
    font-weight: var(--font-semi-bold);
}

.dark-theme h2,
.dark-theme h3,
.dark-theme h4 {
    color: #fff;
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    font-weight: var(--font-medium);
    font-family: var(--body-font);
    border: 0px;
    cursor: pointer;
}

main {
    width: 100%;
    display: inline-block;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid rgba(var(--first-color-darker-alpha), 0.15);
    border-collapse: collapse;
}

.header {
    width: 100%;
    position: relative;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    float: left;
    margin-bottom: 10px;
}

.nav {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 4px -1px 4px;
    background-color: #000;
}

.nav__logo {
    color: #fff;
    font-weight: var(--font-semi-bold);
}

.nav__logo {
    font-size: var(--h2-font-size);
    padding: 1rem;
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.score__container {
    display: inline-flex;
    width: 100%;
    flex-flow: row nowrap;
    place-items: center self-end;
    place-content: center;
}

.score__container h3 {
    text-align: center;
    width: 103px;
    margin: 0px 3vw;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: all 0.3s ease 0s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.uil-volume,
.uil-volume-mute {
    display: none
}

.active .uil-volume,
.muted .uil-volume-mute {
    display: block !important
}

.hangman__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    max-height: 100vh;
    flex-flow: column nowrap;
}

.top__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
}

.buttons__container {
    display: flex;
    gap: 10px;
}

.title__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
}

.gallows__container {
    width: 40%;
    min-height: 220px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 40px 80px;
    border: 2px dashed var(--title-color);
    position: relative;
}

#lives {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--first-color);
}

.gallows__parts {
    border: 2px solid var(--title-color);
    width: 100%;
}

.gallows__parts.one {
    height: 100%;
    width: 0px;
    left: 18%;
    position: absolute;
    top: 0;
}

.gallows__parts.three {
    position: absolute;
    top: 10%;
    left: 80px;
    width: 35%;
}

.gallows__parts.four {
    position: absolute;
    height: 50px;
    width: 0px;
    top: 0px;
    left: 91%;
}

.dummy__container {
    position: absolute;
    top: -6px;
    right: 3px;
    -webkit-transform-origin: 50% 0;
    /* for Safari and older Chrome */
    transform-origin: 50% 0;
    -webkit-animation: swinging 6s ease-in-out forwards infinite;
    animation: swinging 6s ease-in-out forwards infinite;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
}

@keyframes swinging {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

.dummy__parts {
    border: 1px solid var(--title-color);
}

.dummy__container * {
    transform: scale(0.7);
}

.dummy__parts.head {
    width: 30px;
    height: 30px;
    border: 2px solid var(--title-color);
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    top: 30px;
    left: -13px;
    z-index: 10;
}

.dummy__parts.body {
    height: 80px;
    width: 0px;
    position: absolute;
    right: 45%;
    top: 15px;
    z-index: 0;
}

.dummy__parts.left__arm {
    height: 40px;
    width: 0px;
    position: absolute;
    transform: rotate(45deg);
    right: 13px;
    top: 20%;
}

.dummy__parts.right__arm {
    height: 40px;
    width: 0px;
    position: absolute;
    transform: rotate(-45deg);
    right: -15px;
    top: 20%;
}

.dummy__parts.left__leg {
    height: 40px;
    width: 0px;
    position: absolute;
    transform: rotate(45deg);
    right: 13px;
    top: 92%;
}

.dummy__parts.right__leg {
    height: 40px;
    width: 0px;
    position: absolute;
    transform: rotate(-45deg);
    right: -15px;
    top: 92%;
}

.dummy__parts {
    display: none;
}

.word__container,
.wrong__letters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.letter {
    border-bottom: 2px solid var(--title-color);
}

.wrong__letter {
    color: var(--color-red);
    text-decoration: line-through;
}

.input-class {
    padding: 5px;
    width: 150px;
    border: 1px solid rgb(109, 181, 241);
    transition: all 300ms ease-in-out 0s;
    margin: 10px auto;
    display: block;
}

@media screen and (max-width: 450px) {
    .gallows__container {
        padding: 20px 40px;
    }
    #lives {
        top: 10px;
        right: 10px;
    }
    .gallows__parts.three {
        position: absolute;
        top: 5%;
        left: 40px;
        width: 35%;
    }
}

@media screen and (max-width: 629px) {
    .buttons__container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) {
    .header {
        top: 0px;
        bottom: initial;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 0px;
    }
}

#letters {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0px;
    width: 100%;
    gap: 0.2vw;
}

#letters li {
    float: left;
    margin: 0px 0px 10px;
    list-style: none;
    width: 20px;
    height: 25px;
    text-align: center;
    text-transform: capitalize;
    background: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    border: 3px outset rgb(0, 123, 255);
    line-height: 19px;
}

#letters li:last-child {
    width: 90px;
}

#letters li:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 123, 255);
}

#letters .ativo {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 123, 255);
    color: rgb(0, 123, 255);
}

#keyboard {
    display: block;
    position: fixed;
    top: 245px;
    right: 0;
    z-index: 99999;
    width: 250px;
    border: 2px outset lightblue;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(0deg, rgb(241, 241, 241) 5%, rgb(255, 255, 255) 28%);
}